.videoViewer {
    display: flex;
    flex-flow: column;
    margin: 6px;
    width: 640;
    height: 480px;
    background-color: darkgray;
}

.videoFrame {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
