.videoViewer {
    display: flex;
    flex-flow: column;
    margin: 6px;
    width: 400px;
    height: 400px;
    background-color: darkgray;
}

.videoFrame {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.btn {
    margin: 6px;
    appearance: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #2d6ff3;
    padding: 8px 16px;
    height: 40px;
    font-size: 16px;
    transition: ease-in-out 0.15s;

    &:hover {
        background-color: #0b52e0;
    }

    &:active {
        border: 4px solid #7ea7ff;
    }

    &:focus {
        border: none;
    }
}